/*
--------------------
Nextflow Config file
--------------------
*/


// Enable Conda
conda {
  enabled = true
  useMamba = true
}

// Work directory
workDir = "/home/hooman/work/cache"

// Conda cache directory
conda.cacheDir = "/home/hooman/work/conda"

// Define the default log file location
logFile = '/home/hooman/work/nextflow_logs'

// Setting directories for logs, trace, and timeline files
timeline {
    enabled = true
    file = '/home/hooman/work/nextflow_logs/timeline.html'
    overwrite = true
}
trace {
    enabled = true
    file = '/home/hooman/work/nextflow_logs/trace.txt'
    overwrite = true
}
report {
    enabled = true
    file = '/home/hooman/work/nextflow_logs/report.html'
    overwrite = true
}
dag {
    enabled = true
    file = '/home/hooman/work/nextflow_logs/flowchart.png'
    overwrite = true
}